body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #0f172a;
    color: #f1f5f9;
}

h1, h2 {
    color: #38bdf8;
}

section {
    padding: 30px 20px;
}

.subtitle {
    font-size: 18px;
    color: #94a3b8;
}

.container {
    width: 80%;
    max-width: 900px;
    margin-top: 90px;
    margin: 0 auto;
    text-align: center;
}
ul {
    list-style: none;
    padding: 0;
}

li {
    background: #1e293b;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
}

a {
    color: #38bdf8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
    border: 3px solid #38bdf8;
}

li:hover {
    transform: scale(1.02);
    transition: 0.2s;
}